{% extends "shop/base.html" %}
{% load static %}

{% block title %}
 Your shopping cart
{% endblock %}

{% block content %}
<div class="checkout">
    <div class="container">
        <div class="cart__shopping">
            <h1>Корзина</h1>
            <div class="checkout__wrapper">
                {% for item in cart %}
                    {% with product=item.product %}
                        <div class="checkout__block">
                            <div class="checkout__table">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="checkout__img" src="{% if product.image %}{{ product.image.url }}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="product_image">
                                </a>
                                <div class="checkout__table-item">
                                    <h3>{{ product.name }}</h3>
                                    <div class="select">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.override }}
                                        <input type="submit" value="Update">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                </div>
                                <div class="checkout__actions">
                                    <a href="#" class="checkout__remove">
                                        <img src="{% static 'image/delete.svg' %}" alt="">
                                    </a>
                                    <div class="checkout__price">
                                        ${{ product.price }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
                <div class="block__bay">
                    <div class="block__info-bay">
                        <div class="checkout__price">
                            <div class="checkout__total-row">
                                <div class="title">Цена</div>
                                <div class="count">${{ item.price }}</div>
                            </div>
                            <div class="checkout__total-row">
                                <div class="title">Доставка</div>
                                <div class="count">$10</div>
                            </div>
                            <div class="total__price">
                                <div class="title">Итоговая цена</div>
                                <div class="count">${{ item.total_price }}</div>
                            </div>
                        </div>
                        <button class="btn btn-main btn-full" type="submit" >Оформить заказ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
