<!DOCTYPE html>
{% load static %}
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header__line-wrapper">
                <div class="header__lng">
                    <a href="#">Ru</a>
                    <a href="#" class="active">En</a>
                </div>
                <a  href="#" class="header__phone">+7-999-999-99-99</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__wrapper">
            <div class="header__block">
                <nav class="nav">
                    <a href="/" class="nav__link active">Home</a>
                    <a href="#" class="nav__link">About</a>     <!--ссылка о нас-->
                    <a href="#" class="nav__link">Menu</a>      <!--ссылка меню-->
                    <a href="#" class="nav__link">Reservation</a>       <!--ссылка резервации-->
                </nav>
            </div>

            <a href="/" class="logo">
                <img src="{% static 'img/logo/coffee_logo.png' %}" alt="coffee_logo">
            </a>

            <div class="header__block right">
                <div class="header__actions">
                    <a href="#" class="header__link">
                        <img src="{% static 'img/user.svg' %}" alt="user_img">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/favorite.svg' %}" alt="favorite_img">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/cart.svg' %}" alt="cart_img">
                        <span class="header__link-event"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>   <!-- /.header-->
{% block content %} {% endblock %}
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__block">
                <a class="footer__logo" href="/">
                    <img src="{% static 'img/logo/logo_footer.png' %}" alt="logo_image_button">
                </a>
            </div>

            <div class="footer__block">
                <nav class="nav nav-footer">
                    <a href="/" class="nav__link">Home</a>
                    <a href="#" class="nav__link">About</a>
                    <a href="#" class="nav__link">Menu</a>
                    <a href="#" class="nav__link">Reservation</a>
                </nav>
            </div>

            <div class="footer__block">
                <nav class="nav nav-footer">
                    <a href="#" class="nav__link">Contacts</a>
                    <a href="#" class="nav__link">Privacy policy</a>
                </nav>
            </div>
        </div>
    </div>
</footer>

</body>
</html>