<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header__line-wrappper">
                <div class="header__lng">
                    <a href="#">Ru</a>
                    <a href="#" class="active">En</a>
                </div>
                <a  href="#" class="header__phone">+7-999-999-99-99</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__wrapper">
            <div class="header__block">
                <nav class="nav">
                    <a href="#" class="nav__link active">Home</a>
                    <a href="#" class="nav__link">About</a>
                    <a href="#" class="nav__link">Menu</a>
                    <a href="#" class="nav__link">Reservation</a>
                </nav>
            </div>

            <a href="#" class="logo">
                <img src="image/logo/coffee_logo.png" alt="coffee_logo">
            </a>

            <div class="header__block right">
                <div class="header__actions">
                    <a href="#" class="header__link">
                        <img src="image/user.svg" alt="user_img">
                    </a>
                    <a href="#">
                        <img src="image/favorite.svg" alt="favorite_img">
                    </a>
                    <a href="#">
                        <img src="image/cart.svg" alt="cart_img">
                        <span class="header__link-event"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>   <!-- /.header-->

<div class="checkout">
    <div class="container">
        <div class="cart__shopping">
            <h1>cart</h1>
            <div class="checkout__wrapper">
                <div class="checkout__block">
                    <div class="checkout__table">
                        <img class="checkout__img" src="image/products/product_1.png" alt="">
                        <div class="checkout__table-item">
                            <h3>Lavazza Crema E Gusto</h3>      <!--Имя продукта-->
                            <div class="checkout__size">
                                XL
                            </div>
                            <div class="select">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="checkout__actions">
                            <a href="#" class="checkout__remove">
                                <img src="image/delete.svg" alt="">     <!--static-->
                            </a>
                            <div class="checkout__price">
                                $19.99
                            </div>
                        </div>
                    </div>
                    <div class="checkout__table">
                        <img class="checkout__img" src="image/products/product_1.png" alt="">
                        <div class="checkout__table-item">
                            <h3>Lavazza Crema E Gusto</h3>      <!--Имя продукта-->
                            <div class="checkout__size">
                                XL
                            </div>
                            <div class="select">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="checkout__actions">
                            <a href="#" class="checkout__remove">
                                <img src="image/delete.svg" alt="">     <!--static-->
                            </a>
                            <div class="checkout__price">
                                $19.99
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block__bay">
                    <div class="block__info-bay">
                        <div class="checkout__price">
                            <div class="checkout__total-row">
                                <div class="title">Price</div>
                                <div class="count">$19</div>
                            </div>
                            <div class="checkout__total-row">
                                <div class="title">Deliveri</div>
                                <div class="count">$10</div>
                            </div>
                            <div class="total__price">
                                <div class="title">Total Price</div>
                                <div class="count">$29</div>
                            </div>
                        </div>
                        <button class="btn btn-main btn-full" type="submit" >checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.checkout-->


<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__block">
                <a class="footer__logo" href="#">
                    <img src="image/logo/logo_footer.png" alt="logo_imape_button">
                </a>
            </div>

            <div class="footer__block">
                <nav class="nav nav-footer">
                    <a href="#" class="nav__link">Home</a>
                    <a href="#" class="nav__link">About</a>
                    <a href="#" class="nav__link">Menu</a>
                    <a href="#" class="nav__link">Reservation</a>
                </nav>
            </div>

            <div class="footer__block">
                <nav class="nav nav-footer">
                    <a href="#" class="nav__link">Contacts</a>
                    <a href="#" class="nav__link">Privacy policy</a>
                </nav>
            </div>
        </div>
    </div>
</footer>

</body>
</html>