{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="products__bay">     <!--Продукт-->
    <div class="container">
        <div class="product">
            <div class="block__title">
                <h1>{{ product.name }}</h1>      <!--Имя продукта сюда-->
                <div class="product__wrapper">
                    <div class="product__image">
                        <div class="product__item">     <!--Картинку по URL сюда-->
                            <img class="product__picture" src="{% if product.image %}{{ product.image.url }}
                            {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="product_picture">
                        </div>
                    </div>
                    <div class="product__info">
                        <div class="product__item">
                            <div class="product__price">
                                ${{ product.price }}
                                <del>
                                    {% if product.old_price %}${{ product.old_price }}
                                    {% else %} {% endif %}
                                </del>
                            </div>
                            <form action="" class="product__form">
                                <div class="radio__wrapper">
                                    <div class="radio">
                                        <input type="radio" class="radio__input" id="radio_1" name="product__size" required>
                                        <label for="radio_1" class="radio__label">
                                            L
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" class="radio__input" id="radio_2" name="product__size" required>
                                        <label for="radio_2" class="radio__label">
                                            XL
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" class="radio__input" id="radio_3" name="product__size" required>
                                        <label for="radio_3" class="radio__label">
                                            XXL
                                        </label>
                                    </div>
                                </div>
                                <!--Прописать кнопку-->
                                <button class="btn btn-main btn-full" type="submit" >ADd to cart</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="product__fotter">
                    <div class="block__title">
                        <h3 class="products__name">
                            Description
                        </h3>
                    </div>
                    <div class="product__item">
                        {{ product.description|linebreaks }}
                    </div>
                </div>
            </div>
        </div>


        <h3 class="block__titel">
            other products
        </h3>

        <div class="products__wrapper">
            {% for product in page_obj %}
            <div class="products__block">
                <!-- ССЫЛКУ НЕ ЗАБУДСЬ ПОСТАВИТ -->
                <a class="products__item" href="{{ product.get_absolute_url }}">
                    <img class="products__img" src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="products__img">

                    <h3 class="products__name">{{ product.name }}</h3>

                    <div class="products__footer">
                        <div class="products__price">
                            ${{ product.price }}
                        <del>
                            {% if product.old_price %}${{ product.old_price }}
                            {% else %} {% endif %}
                        </del>
                        </div>
                        <button type="button" class="products__favorite">
                            <img src="{% static 'img/favorite.svg' %}" alt="favorite_img">
                        </button>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>  <!-- /.Продукт-->
{% endblock %}