{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="products__bay">
    <div class="container">
        <div class="product">
            <div class="block__title">
                <h1>{{ product.name }}</h1>
                <div class="product__wrapper">
                    <div class="product__image">
                        <div class="product__item">
                            <img class="product__picture" src="{% if product.image %}{{ product.image.url }}
                            {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="product_picture">
                        </div>
                    </div>
                    <div class="product__info">
                        <div class="product__item">
                            <div class="product__price">
                                ${{ product.price }}
                                <del>
                                    {% if product.old_price %}${{ product.old_price }}
                                    {% else %} {% endif %}
                                </del>
                            </div>

                            <form class="product__form" action="{% url 'cart:cart_add' product.id %}" method="post">
                                <--не отображается на сайте->
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <--не отображается на сайте->
                                <button class="btn btn-main btn-full" type="submit" >Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="product__fotter">
                    <div class="block__title">
                        <h3 class="products__name">
                            Описание
                        </h3>
                    </div>
                    <div class="product__item">
                        {{ product.description|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
        <!--Похожие продукты-->
        <h3 class="block__titel">
            Похожие товары
        </h3>
        <div class="products__wrapper">
            <--не отображается на сайте->
            {% for product in other_product %}
                <div class="products__block">
                    <a class="products__item" href="{{ product.get_absolute_url }}">
                        <img class="products__img" src="{% if product.image %}{{ product.image.url }}
                        {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="products__img">

                        <h3 class="products__name">{{ product.name }}</h3>

                        <div class="products__footer">
                            <div class="products__price">
                                ${{ product.price }}
                            <del>
                                {% if product.old_price %}${{ product.old_price }}
                                {% else %} {% endif %}
                            </del>
                            </div>
                            <button type="button" class="products__favorite">
                                <img src="{% static 'img/favorite.svg' %}" alt="favorite_img">
                            </button>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <--не отображается на сайте->
        </div>
        <!-- /.Похожие продукты-->
    </div>
</div>
{% endblock %}