{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="intro" style="background-image: url('../../../static/img/bg/coffee_img.jpg');">
    <div class="container">
        <div class="intro__wrapper">
            <div class="intro__block">
                <h1 class="intro__title">ЖАРЕНЫЙ КОФЕ ЛУЧШИЙ ВЫБОР</h1>
                <p class="intro__text">
                    кофе арабика является отличным источником кофеина - натурального стимулятора,
                    который помогает повысить уровень энергии, улучшить умственную концентрацию и общее самочувствие.

                </p>
                <div class="intro__actions">
                    <a class="btn btn-main" href="#">Купить</a>
                    <a class="btn btn-secodary" href="#">читать далее</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.intro -->

<div class="info">
    <div class="container">
        <div class="info__block">
            <div class="info__img-wrapper">
                <img class="image__info" src="{% static 'img/coffee_info.png' %}" alt="coffee_info_img">
            </div>
            <div class="info__item">
                <div class="info__titel">
                    <h1>Жареный кофе</h1>
                    <p>
                        Было доказано, что кофе арабика обладает и другими потенциальными преимуществами
                        для здоровья, такими как снижение риска развития некоторых видов болезней,
                        улучшение физической работоспособности и даже снижение риска инсульта и других
                        сердечно-сосудистых заболеваний. Считается, что эти преимущества обусловлены наличием
                        в кофе различных соединений, таких как хлорогеновая кислота и кахвеол, которые,
                        как было доказано, оказывают положительное влияние на здоровье. В заключение следует отметить,
                        что кофе арабика - это вкусный и питательный напиток, который может предложить
                        широкий спектр преимуществ для здоровья.
                    </p>
                </div>
            </div>
        </div>    
    </div>
</div>  <!-- /.info-->

<div class="products">
    <div class="container">
        <h2 class="block__titel">
            каталог
        </h2>
        <div class="products__wrapper">
            {% for product in page_obj %}
                <div class="products__block">
                    <a class="products__item" href="{{ product.get_absolute_url }}">
                        <img class="products__img" src="{% if product.image %}{{ product.image.url }}
                        {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="products__img">
                        <h3 class="products__name">{{ product.name }}</h3>
                        <div class="products__footer">
                            <div class="products__price">
                                ${{ product.price }}
                            <del>
                                {% if product.old_price %}${{ product.old_price }}
                                {% else %} {% endif %}
                            </del>
                            </div>
                            <button type="button" class="products__favorite">
                                <img src="{% static 'img/favorite.svg' %}" alt="favorite_img">
                            </button>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>  <!-- /.products-->

<div class="news">
    <div class="container">
        <div class="news__title">
            <h2>Новости</h2>
        </div>
        <div class="news__wrapper">
            <div class="news__block">
                <a class="news__item" href="#">
                    <img class="news__img" src="{% static 'img/news/new_1.png' %}" alt="new_image_1">
                    <div class="news__content">
                        <h3>Заголовок приложения</h3>
                        <p>Текст для приложения "Новости"</p>
                    </div>
               </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}