{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="intro" style="background-image: url('../../../static/img/bg/coffee_img.jpg');">
    <div class="container">
        <div class="intro__wrapper">
            <div class="intro__block">
                <h1 class="intro__title">Roasted coffee best choice</h1>
                <p class="intro__text">
                    The coffee is brewed by first roasting the green coffee beans over hot<br> 
                    coals in a brazier. given an opportunity to sample.
                </p>
                <div class="intro__actions">
                    <a class="btn btn-main" href="#">Buy now</a>
                    <a class="btn btn-secodary" href="#">read more</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.intro -->

<div class="info">
    <div class="container">
        <div class="info__block">
            <div class="info__img-wrapper">
                <img class="image__info" src="{% static 'img/coffee_info.png' %}" alt="coffee_info_img">
            </div>
            <div class="info__item">
                <div class="info__titel">
                    <h1>Roasted Coffe</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                </div>
            </div>
        </div>    
    </div>
</div>  <!-- /.info-->

<div class="products">
    <div class="container">
        <h2 class="block__titel">
            catalog
        </h2>
        <div class="products__wrapper">
            {% for product in page_obj %}
            <div class="products__block">
                <a class="products__item" href="{{ product.get_absolute_url }}">
                    <img class="products__img" src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="products__img">
                    <h3 class="products__name">{{ product.name }}</h3>
                    <div class="products__footer">
                        <div class="products__price">
                            ${{ product.price }}
                        <del>
                            {% if product.old_price %}${{ product.old_price }}
                            {% else %} {% endif %}
                        </del>
                        </div>
                        <button type="button" class="products__favorite">
                            <img src="{% static 'img/favorite.svg' %}" alt="favorite_img">
                        </button>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>  <!-- /.products-->

<div class="news">
    <div class="container">
        <div class="news__title">
            <h2>news</h2>
        </div>
        <div class="news__wrapper">
            <div class="news__block">
                <a class="news__item" href="#">
                    <img class="news__img" src="{% static 'img/news/new_1.png' %}" alt="new_image_1">
                    <div class="news__content">
                        <h3>Lavazza coffee</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>    
                    </div>
               </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}